<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>


{{{body}}}

<div id="test-main-div-1"><label>AAAAAA</label></div>
</body>
</html>
