<!DOCTYPE html>

<script src="javascripts/jquery-1.8.3.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/threejs/three.min.js"></script>

<script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
<script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
<script src="javascripts/threejs/js/Detector.js"></script>
<script src="javascripts/threejs/js/libs/stats.min.js"></script>
<script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

<script src="javascripts/index.js"></script>


<div id="stl-container">

  <div id= "stl-menu-bar"> 
    <div id = "documentsDiv">
        <div id="docHeader">
            Please choose path to model
        </div>
        <div id="docContent">
            <p>            
              <strong> Documents </strong>
              <br>
              <select class="form-control" id="doc-select"></select>
            </p>
              <p>              
                <strong> Workplaces </strong>
                <br>
                <select class="form-control" id="wp-select"></select>
              </p>
              <p>
                <strong> Models </strong>
                <br>
                <select class="form-control" id="elt-select2" ></select>
              </p>
              <button class="btn btn-primary btn-sm clearfix" id="stl-tolerance-btn" data-toggle="modal" data-target="#stl-tolerance-modal" style="display: none;">
                Change STL Tolerance
              </button>
        </div>

     </div>
     <br>
     <br>
     <br>
    <div id = "configDiv" style="display: none;">
        <div id="configHeader">
            Configuration
        </div>
        <div id="configContent">
          <div id="inputs-ul" margin="20px">
          </div>

        </div>
     </div>
     <div id="buttons">
      <button class="btn btn-primary btn-sm clearfix" id="config-btn" style="display: none;">
        Apply configuration
       </button>
       <div id="stl-viewer-container">
        <div class="modal fade clearfix" id="stl-tolerance-modal" tabindex="-1" role="dialog" aria-labelledby="stlToleranceModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="stlToleranceModalLabel">Change STL Tolerances</h4>
                <h4><small class="text-danger">Warning! Setting tolerances too low could freeze model!</small></h4>
              </div>
              <div class="modal-body" id="stl-tolerance-form">
                <form role="form">
                    <div class="form-group">
                        <strong>STL Format</strong>
                        <br>
                        <select id="format-select" class="form-control">
                          <option value='text'> Text </option>
                          <option value='binary'> Binary </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <strong>Resolution</strong>
                        <br>
                        <select id="resolution-select" class="form-control">
                          <option value='coarse'> Coarse </option>
                          <option value='medium'> Medium </option>
                          <option value='fine'> Fine </option>
                          <option value='custom'> Custom </option>
                        </select>
                      </div>
                      <div class="form-group" id="stl-parameters" style="display: none;" >
                        <div class="form-group">
                          <label for="angle-tolerance">Angle Tolerance(deg)</label>
                          <input type="number" value="0.1" step="0.1" class="form-control" id="angle-tolerance">
                        </div>
                        <div class="form-group">
                          <label for="chord-tolerance">Chord Tolerance(in)</label>
                          <input type="number" value="0.1" step="0.1" class="form-control" id="chord-tolerance">
                        </div>
                        <div class="form-group">
                          <label for="facet-width">Minimum facet width(in)</label>
                          <input type="number" value="0.1" step="0.1" class="form-control" id="facet-tolerance">
                        </div>
                      </div>
                </form>
              </div>
              <div class="modal-footer">
                <span class="text-info inline">This operation will reload the model!</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="stl-tolerance-submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

 </div>
<div id="STLViever">
      <div id="stl-viewport">
        <div  id="stl-progress-bar" style="display: none;" >
          <div class="windows8" >
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
        </div>
    
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">
      </div>
</div>


</div>
</html>